<div id="about-div">
	<h1>About Team NBA Stats</h1>
	<div class="row" style="padding-top:30px;">
		<div class="col-md-4" style="padding-top:30px">
			<img class="img-circle" style="display:block; margin:auto;" width="256px" height="256px" src="static_html/photos/josh.jpg" border="1px">
		</div>
		<div class="col-md-8">
			<h2>Josh Slocum</h2>
			<p style="font-size:20px;">
				I'm interested in computer graphics and distributed systems. I interned at Indeed, Google, and Facebook, and will be working on distributed storage systems at Indeed after I graduate. I'm doing my honors thesis on efficient fluid simulation, and I'm a member of UT's ACM programming team.
			</p>
			<p style="font-size:20px">
				Major Responsibilities: ETL (api side), dynamic stats table, about page.
			</p>
		</div>
	</div>

	<div class="row" style="padding-top:30px;">
		<div class="col-md-4">
			<img class="img-circle rotate270" style="display:block; margin:auto; " width="256px" height="256px" 
			src="static_html/photos/dillon.jpg" border="1px">
		</div>
		<div class="col-md-8">
			<h2>Dillon Walker</h2>
			<p style="font-size:20px;">
				I'm interested in computer graphics, networking and parallel algorithms. I interned at Indeed, Amazon and Facebook, and will be working at Indeed when I graduate. I am working on an honors thesis in heterogeneous computing systems.
			</p>
			<p style="font-size:20px">
				Major Responsibilities: ETL, static team pages, dynamic pages, unit testing, API and dynamic page endpoints
			</p>
		</div>

	</div>


	<div class="row" style="padding-top:30px;">
		<div class="col-md-4">
			<img class="img-circle" style="display:block; margin:auto;" width="256px" height="256px" src="static_html/photos/ernesto.jpg" border="1px">
		</div>
		<div class="col-md-8">
			<h2>Ernesto Barajas</h2>
			<p style="font-size:20px;">
				I'm interested in mobile applications and backend development. I am currently an officer in the UT chapter of ACM. I've interned at DTCC and I am now working for the UT Department of Astronomy.
			</p>
			<p style="font-size:20px">
				Major Responsibilities: Configuring the Rackspace server, Database/ETL, page updates
			</p>
		</div>

	</div>

	<div class="row" style="padding-top:30px;">
		<div class="col-md-4">
			<img class="img-circle" style="display:block; margin:auto;" width="256px" height="256px" src="static_html/photos/kevinh.jpg" border="1px">
		</div>
		<div class="col-md-8">
			<h2>Kevin Hinojosa</h2>
			<p style="font-size:20px;">
				I'm interested in distributed systems and backend development. I double majored in Aerospace Engineering and Computer Science. I interned at Applied Research Labs, Boeing, and Juniper Networks. I will be working at Indeed after I graduate this Spring.
			</p>
			<p style="font-size:20px">
				Major Responsibilities: Static player pages, apiary API, and flask application, unit testing
			</p>
		</div>

	</div>

	<div class="row" style="padding-top:30px;">
		<div class="col-md-4">
			<img class="img-circle" style="display:block; margin:auto;" width="256px" height="256px" src="static_html/photos/kevine.jpg" border="1px">
		</div>
		<div class="col-md-8">
			<h2>Kevin Esswein</h2>
			<p style="font-size:20px;">
				I'm starting to enter the majority of my computer science upper division courses. Due to this low exposure, I'm currently uncertain in what areas of computer science I want to expand upon further.
			</p>
			<p style="font-size:20px">
				Major Responsibilities: Static player and team pages
			</p>
		</div>
	</div>


	<div class="container-fluid row">
		<h1 style="clear: left; padding-top:50px">Project 2 Git Stats</h1>
		<table class="table sortable table-bordered col-md-8">
			<thead>
				<tr>
					<th>Name</th>
					<th># Commits (Total)</th>
					<th># Issues Created (Total)</th>
					<th># Unit tests (Total)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Josh Slocum</td>
					<td>9  ( 24 )</td>
					<td>5  ( 21 )</td>
					<td>19 ( 19 )</td>
				</tr>
				<tr>
					<td>Dillon Walker</td>
					<td>16 ( 29 )</td>
					<td>12 ( 15 )</td>
					<td>3  ( 10 )</td>
				</tr>
				<tr>
					<td>Ernesto Barajas</td>
					<td>7  ( 18 )</td>
					<td>4  (  4 )</td>
					<td>0  (  0 )</td>
				</tr>
				<tr>
					<td>Kevin Hinojosa</td>
					<td>2  ( 21 )</td>
					<td>6  ( 10 )</td>
					<td>16 ( 16 )</td>
				</tr>
				<tr>
					<td>Kevin Esswein</td>
					<td>0  (  4 )</td>
					<td>0  (  0 )</td>
					<td>0  (  0 )</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>Total</td>
					<td>34 ( 96 )</td>
					<td>23 ( 50 )</td>
					<td>7  ( 45 )</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="row container-fluid">
		<a href="http://docs.nbaapi.apiary.io/#reference/nba/season"><h1>Apiary Api</h1></a>

		<a href="https://github.com/jmslocum16/cs373-idb"><h1>Github Repo</h1></a>

	</div>

</div>
