<!doctype html>
<html>
<head>

<title>NBA Stats</title>


<!-- Latest compiled and minified jQuery JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<!-- Our styling -->
<link rel="stylesheet" href="/style.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="../sorttable.js"></script>
<script src="../chart.min.js"></script>

<script>
  $(document).ready(function() {
    $("ul.nav-tabs a").click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
    $("#logodiv").click(function(){
        window.location="../splash.html";
    });
    $(".seasonButton").click(function() {
      var season = $(this).find("a")[0].text.trim();
      var obj = $(".season" + season);
      if (!obj.is(':visible')) {
        $(".seasonButton").find("a").each(function(index) {
          $(".season" + $(this).text().trim()).hide();
        });
        obj.show();
      }
    });
    $("#SearchButton").click(function() {
      window.location="/search/" + $("#SearchBar").val();
    });
  });
</script>
</head>

<div class="container-fluid">
  <div id="logodiv" class="col-xs-4">
    <span style="">
      <img style="display: inline-block" src="http://i.cdn.turner.com/nba/tmpl_asset/static/nba-cms3-homepage/1567/elements/global/nba-logo.png">
      <h1 style="display: inline-block">NBA Stats</h1>
    </span>
  </div>
  <div id="custom-search-input">
    <div class="input-group col-xs-8">
      <input id="SearchBar" type="text" class="  search-query form-control" placeholder="Search" />
      <span class="input-group-btn">
        <button id="SearchButton" class="btn btn-danger" type="button">
          <span class=" glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
</div>

{% block body %}{% endblock %}

