{% extends "base.html" %}
{% block body %}
<body>

<h1>{{ season_id }} - {{ season_id + 1 }} Season</h1>

<h3>Standings</h3>

<table class="table sortable">
    <thead>
        <tr>
            <th>Name</th>
            <th>W</th>
            <th>L</th>
            <th>%</th>
            <th>Min</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG3M</th>
            <th>FG3A</th>
            <th>FG3%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>OREB</th>
            <th>DREB</th>
            <th>REB</th>
            <th>AST</th>
            <th>TO</th>
            <th>STL</th>
            <th>BLK</th>
            <th>BLKA</th>
            <th>PF</th>
            <th>PFD</th>
            <th>PTS</th>
            <th>+/-</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td><a href="../teams/{{ team.abrv.uppercase() }}.html">{{ team.name }}</a></td>
            <td>{{team.wins}}</td>
            <td>{{team.losses}}</td>
            <td>{{team.pct}}</td>
            <td>{{team.mins}}</td>
            <td>{{team.fgm}}</td>
            <td>{{team.fga}}</td>
            <td>{{team.fg3m}}</td>
            <td>{{team.fg3a}}</td>
            <td>{{team.fg3pct}}</td>
            <td>{{team.ftm}}</td>
            <td>{{team.fta}}</td>
            <td>{{team.ftpct}}</td>
            <td>{{team.oreb}}</td>
            <td>{{team.dreb}}</td>
            <td>{{team.reb}}</td>
            <td>{{team.ass}}</td>
            <td>{{team.to}}</td>
            <td>{{team.stl}}</td>
            <td>{{team.blk}}</td>
            <td>{{team.blka}}</td>
            <td>{{team.pf}}</td>
            <td>{{team.pfd}}</td>
            <td>{{team.pts}}</td> 
            <td>{{team.plusminus}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
