{% extends "base.html" %}
{% block body %}
<body>

<h1>{{ season_id }} - {{ season_id + 1 }} Season</h1>

<h3>Standings</h3>

<table class="table sortable">
    <thead>
        <tr>
            <th>Name</th>
            <th>W</th>
            <th>L</th>
            <th>%</th>
            <th>Min</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG3M</th>
            <th>FG3A</th>
            <th>FG3%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>OREB</th>
            <th>DREB</th>
            <th>REB</th>
            <th>AST</th>
            <th>TO</th>
            <th>STL</th>
            <th>BLK</th>
            <th>BLKA</th>
            <th>PF</th>
            <th>PFD</th>
            <th>PTS</th>
            <th>+/-</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td><a href="../teams/{{ team.team_id }}.html">{{ team.name }}</a></td>
            {% set stat = abrv_to_stat[team.abrv] %}
            <td>{{stat.wins}}</td>
            <td>{{stat.losses}}</td>
            <td>{{stat.pct}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fg3m}}</td>
            <td>{{stat.fg3a}}</td>
            <td>{{stat.fg3pct}}</td>
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftpct}}</td>
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.reb}}</td>
            <td>{{stat.ass}}</td>
            <td>{{stat.tov}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blka}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.pfd}}</td>
            <td>{{stat.pts}}</td> 
            <td>{{stat.plusminus}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
