{% extends "base.html" %}
{% block body %}
<body>

<!-- Team name, logo, W/L -->
<div class="container-fluid team-header">
  <div class="row-fluid">
    <div class="col-xs-4">
      <h1>
        {{ team.name }}
      </h1>
    </div>
    <div class="row-fluid">
      <div class="col-xs-4">
        <h1>
          <em>{{ total_wins }} W / {{ total_losses }} L</em>
        </h1>
      </div>
    </div>
    <div class="col-xs-4">
      <img src="http://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/{{ team.abrv.lower() }}.png" class="team-logo-img" width=200 height=200>
    </div>
  </div>
</div>

<!-- Team stats, Season-accordion -->
<div class="container">
  <div class="panel-group" id="accordion">
      {% for decade in dsl %}
      {% set seasons = dsl[decade] %}
      {% set decade_ind = loop %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a aria-expanded="false" class="" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ decade_ind.index }}">
                {{ decade }}
              </a>
            </h4>
          </div>
        <div style="" aria-expanded="false" id="collapse{{ decade_ind.index }}" class="panel-collapse collapse">
          <div class="panel-body">
          
            <!-- Here we insert another nested accordion -->
            <div class="panel-group" id="accordion{{ decade_ind.index }}">
            {% for season in seasons %}
            {% set season_ind = loop.index %}
              <div class="panel panel-default seasonButton">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a aria-expanded="false" class="collapsed" data-toggle="collapse" data-parent="#accordion{{ decade_ind }}" href="#collapseInner{{ season }}" ><!-- Make season visible -->
                      {{ season }}
                    </a>
                  </h4>
                </div>
              </div>
            {% endfor %}
            </div>
            <!-- Inner accordion ends here -->
          
          </div>
        </div>
      </div>
    </div> <!-- Outer Accordion End -->
  </div>
    <div class="col-xs-12">
    {% for dec in dsl %}
      {% for seas in dsl[dec] %}
      <div class="season season{{ seas }}">
        <table class="table sortable">
          <thead>
            <tr>
<th>Name</th> <th>W</th> <th>L</th> <th>%</th> <th>Min</th> <th>FGM</th> <th>FGA</th> <th>FG3M</th> <th>FG3A</th> <th>FG3%</th> <th>FTM</th> <th>FTA</th> <th>FT%</th> <th>OREB</th> <th>DREB</th> <th>REB</th> <th>AST</th> <th>TO</th> <th>STL</th> <th>BLK</th> <th>BLKA</th> <th>PF</th> <th>PFD</th> <th>PTS</th> <th>+/-</th>
            </tr>
          </thead>
          <tbody>
        {% for pair in dsl[dec][seas]["player"] %}
        {% set player = pair[0] %}
        {% set stat = pair[1] %}
            <tr>
            <td><a href="../players/{{ player.player_id }}">{{ player.name }}</a></td>
            <td>{{stat.wins}}</td>
            <td>{{stat.losses}}</td>
            <td>{{stat.pct}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fg3m}}</td>
            <td>{{stat.fg3a}}</td>
            <td>{{stat.fg3pct}}</td>
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftpct}}</td>
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.reb}}</td>
            <td>{{stat.ass}}</td>
            <td>{{stat.tov}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blka}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.pfd}}</td>
            <td>{{stat.pts}}</td> 
            <td>{{stat.plusminus}}</td>
            </tr>
        {% endfor %}
          </tbody>
          <tfoot>
        {% for stat in dsl[dec][seas]["team"] %}
            <tr>
            <td><a href="../teams/{{ team.team_id }}.html">{{ team.name }}</a></td>
            <td>{{stat.wins}}</td>
            <td>{{stat.losses}}</td>
            <td>{{stat.pct}}</td>
            <td>{{stat.mins}}</td>
            <td>{{stat.fgm}}</td>
            <td>{{stat.fga}}</td>
            <td>{{stat.fg3m}}</td>
            <td>{{stat.fg3a}}</td>
            <td>{{stat.fg3pct}}</td>
            <td>{{stat.ftm}}</td>
            <td>{{stat.fta}}</td>
            <td>{{stat.ftpct}}</td>
            <td>{{stat.oreb}}</td>
            <td>{{stat.dreb}}</td>
            <td>{{stat.reb}}</td>
            <td>{{stat.ass}}</td>
            <td>{{stat.tov}}</td>
            <td>{{stat.stl}}</td>
            <td>{{stat.blk}}</td>
            <td>{{stat.blka}}</td>
            <td>{{stat.pf}}</td>
            <td>{{stat.pfd}}</td>
            <td>{{stat.pts}}</td> 
            <td>{{stat.plusminus}}</td>
            </tr>
        {% endfor %}
          </tfoot>
        </table>
      </div>
      {% endfor %}
    {% endfor %}
    </div>
  {% endfor %}
  <!--</div>-->
</div>

</body>
{% endblock %}
